<div class="container jumbotron jumbotron-fluid mt-5 mb-5">
    <div class="container">
      <h1 class="display-4">Registro para cursos especiales</h1>
      <p class="lead" style="text-align: justify; font-size: 20px;">Este es un sistema que permite a los alumnos de la Universidad Autonoma de Aguascalientes que hayan reprobado alguna
          materia, registrarse a un curso especial para recursar.
          El sistema te muestra los grupos que han sido creados, los puedes buscar por los diferentes filtros que hay. Si el curso en el que 
          estas interesado no se encuentra, tienes la opción de crearlo y registrarlo.
      </p>
      <p class="lead" style="font-size: 20px; text-align: justify;">
        Los cursos disponibles los puedes buscar de manera filtrada según las opciones que hay dentro de las opciones de registros.
        Se pueden buscar mediante carrera o departamento al que perteneces. Solo alumnos de la Universidad Autonoma de Aguascalientes podrán registrarse en algún curso, 
        para ello se te pedirá tu ID y una fotografía de tu credencial de estudiante o bien una captura de tu situación actual como evidencia.
      </p>
    </div>
</div>
