<div class="container my-5">
    <div class="uno">
        <img src="../../../assets/img/centro_cb.png" alt="">
    </div>
    <div class="dos">
        <form action="">
            <p class="nom">
                Carrera
            </p>
            <p>
                <select name="carr" id="">
                    <option value=""> </option>
                    <option value="">Biología</option>
                    <option value="">Bioquímica</option>
                    <option value="">Electrónica</option>
                    <option value="">Biotecnología</option>
                    <option value="">Matemáticas Aplicadas</option>
                    <option value="">Industrial Estadístico</option>
                    <option value="">Computación Inteligente</option>
                    <option value="">Sistemas Computacionales</option>
                    <option value="">Quimico Farmacéutico Biólogo</option>
                    <option value="">Informática y Tecnologías Computacionales</option>
                </select>
            </p>
            <p class="nom">
                Departamento
            </p>
             <p>
                 <select name="depto" id="">
                     <option value=""> </option>
                     <option value="">Quimica</option>
                     <option value="">Biología</option>
                     <option value="">Morfología</option>
                     <option value="">Estadística</option>
                     <option value="">Microbiología</option>                        
                     <option value="">Mátematicas y Física</option>
                     <option value="">Sistemas Electrónicos</option>
                     <option value="">Ingeniería Bioquimica</option>  
                     <option value="">Sistemas de Información</option>
                     <option value="">Fisiología y Farmacología</option>
                     <option value="">Ciencias de la computación</option>                   
                 </select>
             </p>
             <p class="nom">
                Materia
            </p>
            <p>
               <input type="text" name="" id="">
            </p> 
             <button type="button" class="btn btn-secondary mt-3">Buscar</button>
        </form>
    </div>
</div>
